{% extends 'page-client-center.html' %}

{% load bootstrap_pagination %}
{% load main_tags %}

{% block title %}Лента отзывов &middot; {{ block.super }}{% endblock %}

{% block center %}
        <h1 class="page-title">
                Лента отзывов
        </h1>

        {% if comment_list %}
            {% include 'main/client/comment/list.html' %}
            {% bootstrap_paginate page_obj alignment='left' range=6 show_first_last='true'%}
        {% else %}
            <div class="alert alert-info">Нет отзывов</div>
        {% endif %}
{% endblock %}