{% load mptt_tags %}

<div class='comments' id="comments" data-key='{{ key }}'>
    {% include 'vashdom/ucomment/form.html' %}
    <div class="comment-stat">
        Всего оставлено {{ comment_count }} отзывов
    </div>
    <div class="comment-list">
        {% for c in comment_list %}
            {% recursetree c %}
                {% with comment=node %}
                    {% include 'vashdom/ucomment/preview.html' %}
                {% endwith %}
            {% endrecursetree %}
        {% endfor %}

        {% if comment_list|length >= 20 %}
            <button class="btn-comment-else btn btn-block"
                    data-page="{% if page_obj %}{{ page_obj.next_page_number }}{% else %}2{% endif %}"
                    data-key="{{ key }}">
                Показать еще...</button>
        {% endif %}
    </div>
</div>