<font size="+0,5"> <p>За 8 лет работы наш сервис доказал свою эффективность в поисках жилья без посредников. 54% пользователей находят себе жилье, совершая от 1 до 5 звонков и сэкономив на комиссии в среднем 12000 р! Для 100% решения квартирного вопроса всех наших пользователей, мы даем гарантию:</p>
<b>Каждому пользователю будут найдены все подходящие под личные требования объявления, которых нет на сайте.</b>
<a href="/guarantee/" target="__blank" class="btn btn-link" title="Подробнее">Подробнее</a>
<p>Выбирая любой тариф, Вы можете быть уверены - теперь поиск собственников жилья наша задача!</p>
</font>