{% load main_tags %}

<div class="catalog-filter catalog-filter_{{random_id}} block col-sm-12 col-md-12 col-lg-12" id="catalog-filter">
    <div class="object-map">
        <a href="/{{current_town.slug}}/na_karte/"><img src="/static/img/map-icon.png" title="Поиск на карте">НА КАРТЕ</a>
    </div>
    <form method="post" action="{{ url }}">
        <div class="content">
            <div class="col rooms">
                <h3>Я хочу снять</h3>
                {{ form.rooms }}
            </div>
            <div class="catalog-filter__shortcut catalog-filter__shortcut_room">
                <a href="/{{current_town.slug}}/komnata/__student/">для студентов</a>
                <a href="/{{current_town.slug}}/komnata/__bez_mebeli/">без мебели</a>
                <a href="/{{current_town.slug}}/komnata/__dlya_semii/">для семьи</a>
                {% if current_town.slug = 'sankt-peterburg' %}
                    <a href="/{{current_town.slug}}/komnata/__za_10_tisyach/">за 10 тысяч</a>
                {% endif %}
            </div>
            <div class="catalog-filter__shortcut catalog-filter__shortcut_flat">
                <a href="/{{current_town.slug}}/kvartira/__student/">для студентов</a>
                <a href="/{{current_town.slug}}/kvartira/__bez_mebeli/">без мебели</a>
                <a href="/{{current_town.slug}}/kvartira/__s_zhivotnimi/">с животными</a>
                <a href="/{{current_town.slug}}/kvartira/__malogabaritnie/">малогабаритные</a>
                <a href="/{{current_town.slug}}/kvartira/__studia/">студия</a>
                <a href="/{{current_town.slug}}/kvartira/__newhouse/">новостройки</a>
                {% if current_town.slug = 'moskva' %}
                    <a href="/{{current_town.slug}}/kvartira/__centr/">в центре</a>
                    <a href="/{{current_town.slug}}/kvartira/__za_20_tisyach/">за 20 тысяч</a>
                    <a href="/{{current_town.slug}}/kvartira/__za_25_tisyach/">за 25 тысяч</a>
                    <a href="/{{current_town.slug}}/kvartira/__za_30_tisyach/">за 30 тысяч</a>
                {% endif %}
            </div>
            <div class="col metro">
                <h3>Метро</h3>
                {{ form.metro }}
            </div>
            <div class="options">
                <div class="option refrigerator">
                    {{ form.refrigerator }} <label for="id_refrigerator" title="Холодильник"></label>
                </div>
                <div class="option tv">
                    {{ form.tv }} <label for="id_tv" title="Телевизор"></label>
                </div>
                <div class="option washer">
                    {{ form.washer }} <label for="id_washer" title="Стиральная машина"></label>
                </div>
                <div class="option furniture">
                    {{ form.furniture }} <label for="id_furniture" title="Мебель"></label>
                </div>
            </div>
            <div class="col price price-inputs-{{random_id}}">
                    <h3>Цена от {{ form.min_price }} до {{ form.max_price }}</h3>
                    <div class="">
                        <input id="price-slider-{{random_id}}" type="text" class="slider" value="" data-slider-min="0"
                               data-slider-max="100000" data-slider-step="1000"
                               data-slider-value="[{{ form.min_price.value|default:'0' }},{{ form.max_price.value|default:'200000' }}]"
                               data-slider-orientation="horizontal" data-slider-selection="after">
    
                    </div>
                </div>

{#            <div class="col with-photo">#}
{#                {{ form.with_photo }} <label for="id_with_photo">{{ form.with_photo.label }}</label>#}
{#            </div>#}

            <button class="btn btn-secondary btn-search btn-block" title="Поиск подходящих">Найти</button>
        </div>
    </form>
</div>

<script type="text/javascript">
    jQuery(document).ready(function(){
        jQuery('#price-slider-{{random_id}}').slider()
            .on('slide', function(e){
                jQuery('.price-inputs-{{random_id}} input[name="min_price"]').val(e.value[0]);
                jQuery('.price-inputs-{{random_id}} input[name="max_price"]').val(e.value[1]);
            });

        function updateShortcuts() {
            var valArray = [];
            jQuery('.catalog-filter_{{random_id}} input[name="rooms"]:checked').each(function(index, element){
                valArray.push(element.value);
            })
            var isRoom = (valArray.indexOf('R') >= 0) && (valArray.length == 1);
            var isFlat = (valArray.indexOf('R') < 0) && (valArray.length > 0);
            if (isRoom) {
                jQuery('.catalog-filter_{{random_id}} .catalog-filter__shortcut_room').addClass('catalog-filter__shortcut_visible');
            } else {
                jQuery('.catalog-filter_{{random_id}} .catalog-filter__shortcut_room').removeClass('catalog-filter__shortcut_visible');
            }
            if (isFlat) {
                jQuery('.catalog-filter_{{random_id}} .catalog-filter__shortcut_flat').addClass('catalog-filter__shortcut_visible');
            } else {
                jQuery('.catalog-filter_{{random_id}} .catalog-filter__shortcut_flat').removeClass('catalog-filter__shortcut_visible');
            }
        }

        jQuery('.catalog-filter_{{random_id}} input[name="rooms"]').change(updateShortcuts);
        updateShortcuts();
    });
</script>