<div class="block">
    <h3>Полезно знать</h3>
    <p><a href="/news/" title="Новости в сфере аренды и акции проекта">Новости и акции</a></p>
    <p><a href="/node/5" title="Ответы на наиболее распространенные вопросы о сервисе">Вопросы и Ответы</a></p>
    <p><a href="/guarantee/" title="Наша гарантия">Гарантия</a></p>
    <p><a href="/poisk/" title="Подбор жилья под Ваши требования"></p>
    <p><a href="/doc/" title="Форма договора аренды">Договор найма жилья</a></p>
    <p><a href="/node/8043" title="Разница между авансом, задатком и залогом">Аванс или задаток?</a></p>
    <p><a href="/node/8045" title="Прописные истины при съеме жилья">Как безопасно снять?</a></p>
    <p><a href="/node/8046" title="Нюансы безопасной сдачи жилья в аренду">Правила сдачи жилья</a></p>
    <p><a href="/node/8044" title="Выборка законов, рекомендованных к изучению">Законы аренды жилья</a></p>
    <p><a href="/node/8047" title="Доверительное управление имуществом">Доверительное управление</a></p>
    <p><a href="/node/8048" title="Как не попасть в наиболее распространенные ловушки">Полезная информация о мошенниках</a></p>
</div>