<div class="block payment">
    <h3>Служба поддержки</h3>

    {% if current_town.slug == 'moskva' %}
        <p>Наши специалисты ответят на все Ваши вопросы, звоните:</p>
        <p class="tel">+7 (499) 704-45-99</p>
        <p>Москва</p>
        <p>ЕЖЕДНЕВНО:</p>
        <p>с 10:00 - 22:00</p>
    {% elif current_town.slug == 'sankt-peterburg' %}
        <p>Наши специалисты ответят на все Ваши вопросы, звоните:</p>
        <p class="tel">+7 (812) 458-04-11</p>
        <p>Санкт-Петербург</p>
        <p>ЕЖЕДНЕВНО:</p>
        <p>с 10:00 - 22:00</p>
    {% elif current_town.slug == 'ekaterinburg' %}
        <p>Наши специалисты ответят на все Ваши вопросы, звоните:</p>
        <p class="tel">+7 (343) 226-03-32</p>
        <p>Екатеринбург</p>
        <p>ЕЖЕДНЕВНО:</p>
        <p>с 10:00 - 22:00</p>
    {% elif current_town.slug == 'novosibirsk' %}
        <p>Наши специалисты ответят на все Ваши вопросы, звоните:</p>
        <p class="tel">+7 (383) 207-82-33</p>
        <p>Новосибирск</p>
        <p>ЕЖЕДНЕВНО:</p>
        <p>с 10:00 - 22:00</p>
    {% endif %}
        <p>Мы также помогаем в онлайн-консультанте круглосуточно</p>
</div>

<div class="block payment">
    <h3>Автоматическая оплата</h3>

    <p>1.Выберите срок подключения.</p>
    <p>2.Введите номер Вашего телефона (на него придет смс с паролем).</p>
    <p>3.Нажмите кнопку "Оплатить".</p>
    <p>4.Выберите удобный способ оплаты.</p>
    <p>5.Оплатите.</p>
    <p>6.Вернитесь обратно на сайт. Вы увидите свой пароль.
    Также, пароль отправлен на указанный Вами номер в смс сообщении.</p>
</div>

<div class="block payment">
    <h3>Оплата наличными</h3>

    <p>1.Выберите срок подключения.</p>
    <p>2.Выберите удобный для Вас способ оплаты.</p>
    <p>3.Оплатите согласно выбранного Вами срока подключения.</p>
    <p>4.Нажмите кнопку "Сообщить о платеже".</p>
    <p>5.Заполните данные Вашего платежа по чеку.</p>
    <p>6.В течение нескольких минут придет смс с паролем.</p>
</div>