{% extends 'vashdom/email/base-plain.html' %}

{% load main_tags %}

{% block content %}
Здравствуйте, {{ user.get_full_name }}.

Благодарим Вас что вы воспользовались сервисом поиска жилья без комиссии "ВАШ ДОМ" Bazavashdom.ru - База собственников без комиссии.

В вашем личном кабинете на сайте, вы сформировали но не оплатили счет №{{ payment.id }}.

Вам предоставлена скидка _{{ promocode.promotion.discount }}%_ на оплату данного счета, код скидки:{{ promocode.code }}
Срок действия данного кода на скидку одни сутки (24 часа).

Оплатить можно по ссылке: https://bazavashdom.ru{% url 'payment:detail' payment.id %}

Если у Вас есть какие либо вопросы Вы можете связаться с нами в разделе "контакты" используя форму обратной связи:
Контакты: https://bazavashdom.ru/contact

Желаем Вам скорейшего решения Вашего жилищного вопроса!
С Уважением, БазаВашДом.ру

{% endblock %}