{% extends 'vashdom/email/base-html.html' %}

{% load main_tags %}
{% load thumbnail %}

{% block content %}
<p style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 14px; line-height: 1.6; font-weight: bold; margin: 0 0 10px; padding: 0;">
    Здравствуйте{% if client_name %}, <i>{{ client_name }}</i>{% endif %}</p>
<p style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 14px; line-height: 1.6; font-weight: normal; margin: 0 0 10px; padding: 0;">По вашему запросу было найдено несколько объявлений:</p>
<hr/>

{% for advert in advert_list %}
    <h3 style="font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; font-size: 28px; line-height: 1.2; color: #000; font-weight: 200; margin: 40px 0 10px; padding: 0;">{{ advert.title }}</h3>

    {% with image=advert.images.all|first %}
        {% thumbnail image.image "300x200" crop='center' as img_small %}
            <p style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 14px; line-height: 1.6; font-weight: normal; margin: 0 0 10px; padding: 0;">
                <img src="https://bazavashdom.ru{{ img_small.url }}" style="width: 300px; height: 200px;">
            </p>
        {% endthumbnail %}
    {% endwith %}

    <p style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 14px; line-height: 1.6; font-weight: normal; margin: 0 0 10px; padding: 0;">
        Объявление подано {{ advert.date|fmt_date }}<br>
        {% if advert.metro %}
            Метро: {{ advert.metro.title }}<br>
        {% endif %}
        Адрес: {{ advert.address|default_if_none:'' }}<br>
        {% if advert.square %}
            Площадь: {{ advert.square }} м2<br>
        {% endif %}
        {% if advert.floor %}
            Этаж: {{ advert.floor }}{% if advert.count_floor %}/{{ advert.count_floor }}{% endif %}<br>
        {% endif %}
        {% if advert.price %}
            Цена: <b>{{ advert.price|fmt_price }}р.</b>
            {% if advert.adtype == 'L' %}
                {% if advert.limit == 'd' %}
                    в сутки
                {% else %}
                    за месяц
                {% endif %}
            {% endif %}
            <br>
        {% endif %}
        {{ advert.description|truncatewords:20 }}<br>
        <i>{% for field in advert.comfort_list %}
            {% if field.1 %}{{ field.2 }}, {% endif %}
        {% endfor %}</i>
        <br>

        <table style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.6; width: 100%; margin: 0; padding: 0;">
            <tr style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.6; margin: 0; padding: 0;">
                <td class="padding"
                    style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.6; margin: 0; padding: 10px 0;">
                    <p style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 14px; line-height: 1.6; font-weight: normal; margin: 0 0 10px; padding: 0;">
                        <a href="https://bazavashdom.ru/id{{ advert.id }}"
                           class="btn-primary"
                           style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 100%; line-height: 2; color: #FFF; text-decoration: none; font-weight: bold; text-align: center; cursor: pointer; display: inline-block; border-radius: 25px; background: #348eda; margin: 0 10px 0 0; padding: 0; border-color: #348eda; border-style: solid; border-width: 10px 20px;">
                            Перейти к объявлению</a></p>
                </td>
            </tr>
        </table>
    <hr/>
{% endfor %}

<p style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 14px; line-height: 1.6; font-weight: normal; margin: 0 0 10px; padding: 0;">
    Чтобы отписаться от рассылки, пожалуйста, перейдите по ссылке: <a href="https://bazavashdom.ru/{% url 'search-request:unsubscribe' search_request.id %}">Отписаться</a></p>
{% endblock %}
