{% extends 'page-client-center.html' %}

{% load bootstrap_pagination %}
{% load main_tags %}

{% block title %}Пароли ВашДом открывшие объявление №{{ advert.id }} &middot; {{ block.super }}{% endblock %}

{% block center %}
        <h1 class="page-title">
            Пароли ВашДом открывшие объявление №{{ advert.id }}
        </h1>

        {% include 'main/client/advert/stat/tabs.html' %}

        {% if password_list %}
            {% include 'main/client/password/list.html' %}
            {% bootstrap_paginate page_obj alignment='left' range=6 show_first_last='true' %}
        {% else %}
            <div class="alert alert-info">Нет паролей</div>
        {% endif %}
{% endblock %}