/*UPLOAD IMAGE LIST*/
.upload-video-list {
    list-style-type: none;
    margin: 10px 0;
    padding: 0;
    overflow: hidden;
}

.upload-video-list li {
    margin: 5px;
    overflow: hidden;
    position: relative;
}

.upload-video-list img {
    max-width: 100%;
    width: 100%;
}

.upload-video-list .close {
    position: absolute;
    right: 0;
    top: 0;
    background: #555;
    color: #fff;
    padding: 0 4px;
    border-radius: 20px;
    opacity: 0.8;
    display: block;
}
.upload-video-list .close:hover {
    opacity: 1;
}



.video-frame {
    padding: 20px;
    margin: 10px 0;
    position: relative;
    background: #202020;
}

.video-preview {
    width: 300px;
    max-width: 100%;
    position: relative;
}

.video-preview img {
    width: 100%;
}

.video-preview .play {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background: url('../img/play.png') no-repeat center center;
}

.video-preview .play:hover {
    background: url('../img/play-hover.png') no-repeat center center;
}

.link-upload {
    margin: 10px 0;
}