{% load thumbnail %}

<h1 class="page-title">Пользователь {{ object.get_short_name }}</h1>

<div class="user-profile">
    <div class='photo'>
        {% thumbnail object.image "150x150" crop="center" as image %}
            <img src='{{ image.url }}'>
        {% empty %}
            <img src='{{ STATIC_URL }}img/noavatar.png'>
        {% endthumbnail %}

    </div>

    <div class="content">
        <dl>
            <dt>Имя</dt>
            <dd>{{ object.first_name }}</dd>
            <dt>Фамилия</dt>
            <dd>{{ object.last_name }}</dd>
            <dt>Дата регистрации</dt>
            <dd>{{ object.date_joined }}</dd>
        </dl>
    </div>
</div>