{% extends 'page-client-center.html' %}

{% load main_tags %}
{% load bootstrap_pagination %}

{% block title %}Пароли ВАШДОМ {{ agent.get_full_name }} &middot; {{ block.super }}{% endblock %}

{% block center %}
    <a href='#' class='btn-password-create btn btn-primary pull-right' data-user="{{ agent.id }}"><span class="glyphicon glyphicon-pencil"></span> Создать пароль</a>

    <h1 class="page-title">{{ agent.get_full_name }}</h1>

    {% include 'main/client/user/tabs.html' %}

    {% include 'main/client/password/list.html' %}

    {% if not password_list %}
        <div class="alert alert-info no-services">Паролей нет</div>
    {% endif %}

{% endblock %}