{% extends 'page-client-center.html' %}

{% load main_tags %}
{% load uimg_tags %}

{% block title %}Редактирование заявки &middot; {{ block.super }}{% endblock %}

{% block center %}
    <div class="catalog-create">
        <h1 class="page-title">Редактирование заявки</h1>

        <div class="create-form">
            {% include 'main/client/search_request/form.html' %}
            <div class="text-center actions">
                <button class="btn btn-flt3 btn-lg btn-search-request-form-edit" data-loading-text="Сохранение заявки...">Сохранить заявку</button>
            </div>
        </div>
    </div>
{% endblock %}