{% extends 'page.html' %}

{% load main_tags %}

{% block title %}Восстановление пароля  &middot; {{ block.super }}{% endblock %}

{% block content %}
    <form method="post" class="login-form">
        <h1 class="page-title">Восстановление пароля</h1>
        <p>Забыли пароль? Введите свой адрес электронной почты ниже, и мы вышлем вам инструкцию, как установить новый пароль.</p>
        {% csrf_token %}
        {{ form.email.label_tag }}
        {{ form.email|add_class:'form-control' }}
        <input type="submit" value='Восстановить пароль' class="btn btn-secondary btn-block">
    </form>
{% endblock %}