{% extends 'block.html' %}

{% block title %}ВЫКУПЫ{% endblock %}

{% block content %}
    <p id="buyes-info">При подключении услуги "Выкуп" Вы сможете выкупать контакты объявлений от собственников,
        клиентов или агентов на одни сутки (24 часа с момента выкупа).</p>
    <p>В данный период времени контакты будут доступны только тому кто выкупил данные контакты,
        все остальные будут видеть дату и время когда данный контакт данного объявления будет доступен для открытия.</p>
{% endblock %}