{% extends 'block.html' %}

{% block title %}ОПЛАТА ПОДКЛЮЧЕНИЯ{% endblock %}

{% block content %}
    <p>Оплата подключения осуществляется посредством платежной системы ROBOKASSA, оплатить можно:</p>
    <ul>
        <li>Банковской картой VISA/MasterCard</li>
        <li>QIWI</li>
        <li>Яндекс.Деньги</li>
        <li>Интернет банк "Альфа-Клик"</li>
        <li>а так же множество других способов оплаты</li>
    </ul>

    <p>Выберите интересующий Вас раздел, срок подключения и нажмите на кнопку "Подключить".</p>

    <p>При оплате нескольких разделов и/или нескольких
    месяцев вперед подключение осуществляется со скидкой.</p>
{% endblock %}