{% extends 'block.html' %}

{% block title %}ОПИСАНИЕ РАЗДЕЛОВ{% endblock %}

{% block content %}
    <p>Бесплатные разделы:</p>
    <ul>
        <li>Размещение объявлений</li>
        <li>Межагентская база недвижимости.</li>
    </ul>

    <p>Все оплаченные разделы включают в себя:</p>
    <ul>
        <li>База собственников объектов</li>
        <li>База прямых клиентов</li>
    </ul>

    <p>Все контакты которые были открыты в период оплаченного срока остаются открытыми навсегда.
    Возврат средств за неактуальную информацию!</p>
{% endblock %}