{% load main_tags %}
{% load cache %}
{% load uvideo_tags %}
{% load uimg_tags %}

<div class='item news-preview news-item-{{ news.id }} editable-content'>
    {% if news.video %}
        {% video_preview news.video news.get_absolute_url %}
    {% else %}
        {% image_preview news.images.all news.get_absolute_url %}
    {% endif %}

    <div class='content'>
        <h2 class='title'><a href="{% url 'news:detail' news.id %}">{{ news.title }}</a></h2>

        {{ news.body|news_preview|safe }}
    </div>

    <div class='item-footer'>
        <div class='date'>
            {{ news.date|fmt_date }}
        </div>
        {% include 'vashdom/news/edit-buttons.html' %}
    </div>

</div>

