{% extends "page.html" %}

{% block content %}
<div class="not-found-page">
    <div class="container">
        <div class="row">
            <div class="not-found-page__content">
                <h1 class="text-center">Такой страницы не существует</h1>
                <p> Видимо, жилье уже сдано и мы удалили объявление. 
                Мы можем предложить <a href="/poisk/" title="Подбор жилья под Ваши требования">найти новые и актуальные</a> объявления специально для Вас.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}