{% extends "page.html" %}

{% block page_content %}
    <div class='page-sidebar'>
        <div class='container'>
            <div class='row'>
                <div class='page-sidebar__sidebar'>
                    {% block sidebar %}
                    {% endblock %}
                </div>
                <div class="page-sidebar__sidebar">
                    {% block content %}

                    {% endblock %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}