{% extends 'page.html' %}

{% load bootstrap_pagination %}
{% load main_tags %}

{% block title %}Партнерская программа &middot; {{ block.super }}{% endblock %}

{% block content %}
    <h1 class="page-title">КАК РАБОТАЕТ ПАРТНЕРСКАЯ ПРОГРАММА БАЗАВАШДОМ.РУ</h1>
    
    <b> UPD 08.05.18 Уважаемые партнеры, в связи с обновлением тарифной сетки 8 мая 2018 г. все реферальные выплаты после 8 мая будут выплачиваться из расчета 50% от платежа.
    </b>
    
    <p>Приглашаем к сотрудничеству всех кому интересен стабильный, долгосрочный и пассивный доход который может
        существовать параллельно Вашей основной работе, а возможно и заменит Вам основную работу.</p>
    <p>Все просто, Вы размещаете специальную партнерскую ссылку на других сайтах, порталах, блогах, форумах и получаете
        50% от платежей привлеченных Вами пользователей.</p>

    <h2 class="page-title">НАШИМИ ПАРТНЕРАМИ МОГУТ СТАТЬ:</h2>
    <ul>
        <li>Все кому интересен дополнительный заработок</li>
        <li>Владельцы сайтов, порталов, форумов, блогов и т.п.</li>
        <li>Владельцы групп в социальных сетях (Вконтакте, Facebook, Одноклассники, Twitter и т.п.)</li>
        <li>SEO, SMM специалисты</li>
    </ul>

    <h2 class="page-title">ПРИНЦИП СОТРУДНИЧЕСТВА:</h2>
    <p>Вы размещаете Вашу партнерскую ссылку и небольшое описание на других сайтах, порталах, блогах, форумах.</p>
    <p>Пользователи заинтересованные в поиске жилья (без агентов и без комиссии) переходит на сайт по Вашей ссылке и
        оплачивает доступ.</p>
    <p>Вы получаете 50 от платежей привлеченных Вами клиентов.</p>

    <h2 class="page-title">КАК УЧИТЫВАЮТСЯ ПРОДАЖИ:</h2>
    <p>При переходе к нам на сайт по Вашим партнерским ссылкам сайт сохраняет информацию о пользователе (cookie) и
        хранит ее в течении 180 дней. Это значит, что если пользователь перешел к нам на сайт по вашей партнерской
        ссылке и не совершил покупку сразу, а сделал это в течении шести месяцев, оплата все равно будет засчитана
        Вам.</p>
    <p>Если пользователь перешел на сайт по Вашей партнерской ссылке и зарегистрировался, то последующие все платежи из
        данного зарегистрированного кабинета будут засчитываться Вам всегда.</p>

    <h2 class="page-title">СТАТИСТИКА ПЕРЕХОДОВ И ПЛАТЕЖЕЙ:</h2>
    <p>В данном разделе Вы сможете отслеживать в режиме реального времени: количество переходов, количество привлеченных
        пользователей и количество созданных и оплаченных платежей.</p>
    <p>Вы можете создать необходимое количество партнерских ссылок для размещения их на разных ресурсах.Анализируйте и
        концентрируйтесь на тех источниках трафика, размещенные ссылки на которых приносят Вам наибольший доход.</p>

    <h2 class="page-title">ВЫПЛАТЫ ВОЗНАГРАЖДЕНИЯ:</h2>
    <p>Выплаты осуществляются любым удобным для Вас способом (банковские переводы, пополнение карты или электронные
        деньги).Первое время возможны ежедневные выплаты, далее выплаты осуществляются раз в неделею или месяц по
        договоренности.</p>

    <h2 class="page-title">ПОДКЛЮЧЕНИЕ К ПАРТНЕРСКОЙ ПРОГРАММЕ:</h2>
    <p>Для подключения к партнерской программе Вам необходимо</p>
    <ul>
        <li>Авторизоваться на сайте</li>
        <li>Получить партнерскую ссылку</li>
        <li>Сообщить администратору сайта данные вашего личного кабинета</li>
    </ul>

    <h2 class="page-title">КОНТАКТЫ:</h2>
    <p>По всем вопросам вы можете обратиться в службу поддержки по тел.:
        {% if current_town.slug == 'moskva' %}
            +7(812)507-67-47
        {% elif current_town.slug == 'sankt-peterburg' %}
            +7(812)507-67-47
        {% elif current_town.slug == 'ekaterinburg' %}
            +7(343)226-03-32
        {% elif current_town.slug == 'novosibirsk' %}
            +7(383)207-82-39
        {% endif %}
    </p>
    <p>Посредством формы обратной связи или по почте: <a href="mailto:info@bazavashdom.ru">info@bazavashdom.ru</a></p>

{% endblock %}