body.linkdomain {
  background: #f0f0f0;
}
.linkdomain #page {
  padding: 40px 0;
}
.linkdomain #page .container > .row {
  background: #ffffff;
  padding: 15px;
  box-shadow: 0 10px 50px #dddddd;
  border-radius: 4px;
}
