{% extends 'page-moder.html'  %}

{% load main_tags %}

{% block title %}Смена пароля  &middot; {{ block.super }}{{ block.super }}{% endblock %}

{% block content %}
    <h1 class="page-title">Смена пароля</h1>
    <div class="login-container" id="changepass-container">
        <form method="post">
            {% csrf_token %}
            <dl class="password-change">
                {% for field in form %}
                    <dt>{{ field.label_tag }}</dt>
                    <dd class="">{{ field|add_class:'form-control' }}
                        {% if field.help_text %}<div class="">{{ field.help_text }}</div>{% endif %}
                        {% if field.errors %}<div class="myerrors">{{ field.errors }}</div>{% endif %}
                    </dd>
                {% endfor %}
            </dl>
            <input type="submit" value='Сменить пароль' class="btn btn-primary">
        </form>
    </div>
{% endblock %}